---
import Button from "./Button.astro";
const today = new Date();
---

<section>
  <div class="max-w-screen-lg mx-auto footer-bg p-6 sm:p-8 rounded-4xl">
    <div
      class="text-center text-2xl sm:text-[40px] font-semibold leading-[135%] mt-12 sm:mt-[84px] mx-4 sm:mx-[112px] mb-[28px]"
    >
      Implante rapidamente, acompanhe verificações em tempo real, publique páginas de status e receba
      alertas apenas quando realmente importa
    </div>
    <div class="flex justify-center">
      <Button href="https://github.com/vigi-run/vigi?tab=readme-ov-file#quick-start-docker--sqlite">Comece Agora</Button>
    </div>
    <div
      class="flex flex-col sm:flex-row gap-6 sm:gap-0 font-semibold leading-[135%] text-[#373737] justify-between w-full items-center sm:items-end mt-8"
    >
      <nav>
        <ul class="flex flex-wrap justify-center gap-4">
          <li>
            <a href="/#monitors">Monitores</a>
          </li>
          <li>
            <a href="/#alerts">Alertas</a>
          </li>
          <li>
            <a href="/#testimonials">Depoimentos</a>
          </li>
          <li>
            <a href="https://docs.vigi.run" target="_blank">Docs</a>
          </li>
        </ul>
      </nav>

      <div class="flex items-center gap-4">
        <div class="flex justify-center gap-6">
          <a href="https://github.com/vigi-run/vigi" target="_blank">
            <span class="sr-only">Ir para o repositório do Vigi no GitHub</span>
            <svg viewBox="0 0 16 16" aria-hidden="true" width="21" height="21"
              ><path
                fill="currentColor"
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
              ></path></svg
            >
          </a>
          <a href="https://discord.gg/Xuv8b5AhPF" target="_blank">
            <span class="sr-only">Go to Vigi's Discord</span>
            <svg
              width="21"
              height="21"
              viewBox="0 0 21 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M17.7774 3.63594C16.4389 3.0218 15.0036 2.56932 13.5029 2.31017C13.4756 2.30517 13.4483 2.31767 13.4342 2.34267C13.2496 2.67098 13.0451 3.09929 12.902 3.43594C11.2879 3.19429 9.68203 3.19429 8.10103 3.43594C7.95782 3.09181 7.74592 2.67098 7.5605 2.34267C7.54642 2.3185 7.51912 2.306 7.49179 2.31017C5.99192 2.56849 4.55662 3.02097 3.21732 3.63594C3.20572 3.64094 3.19579 3.64928 3.18919 3.66011C0.466718 7.72742 -0.279081 11.6948 0.0867826 15.6129C0.0884381 15.6321 0.0991986 15.6504 0.114098 15.6621C1.91031 16.9812 3.65024 17.782 5.35787 18.3128C5.3852 18.3211 5.41415 18.3111 5.43155 18.2886C5.83549 17.737 6.19556 17.1554 6.50429 16.5437C6.52251 16.5079 6.50512 16.4654 6.46788 16.4512C5.89674 16.2346 5.3529 15.9704 4.82976 15.6704C4.78838 15.6463 4.78507 15.5871 4.82314 15.5587C4.93323 15.4762 5.04334 15.3904 5.14846 15.3038C5.16748 15.2879 5.19398 15.2846 5.21634 15.2946C8.65312 16.8637 12.3739 16.8637 15.7701 15.2946C15.7924 15.2838 15.8189 15.2871 15.8388 15.3029C15.9439 15.3896 16.054 15.4762 16.1649 15.5587C16.203 15.5871 16.2005 15.6463 16.1591 15.6704C15.636 15.9762 15.0922 16.2346 14.5202 16.4504C14.483 16.4645 14.4664 16.5079 14.4846 16.5437C14.8 17.1545 15.16 17.7361 15.5565 18.2878C15.5731 18.3111 15.6029 18.3211 15.6302 18.3128C17.3461 17.782 19.086 16.9812 20.8823 15.6621C20.898 15.6504 20.9079 15.6329 20.9096 15.6138C21.3474 11.0839 20.1762 7.14913 17.8047 3.66094C17.7989 3.64928 17.789 3.64094 17.7774 3.63594ZM7.01752 13.2272C5.98281 13.2272 5.13024 12.2772 5.13024 11.1106C5.13024 9.94399 5.96628 8.99405 7.01752 8.99405C8.07701 8.99405 8.92133 9.95233 8.90477 11.1106C8.90477 12.2772 8.06873 13.2272 7.01752 13.2272ZM13.9954 13.2272C12.9607 13.2272 12.1082 12.2772 12.1082 11.1106C12.1082 9.94399 12.9442 8.99405 13.9954 8.99405C15.0549 8.99405 15.8992 9.95233 15.8827 11.1106C15.8827 12.2772 15.0549 13.2272 13.9954 13.2272Z"
                fill="#373737"></path>
            </svg>
          </a>
        </div>

        <img
          src="/logo-mascot.webp"
          alt="Vigi Logo"
          class="w-[120px] h-[120px] sm:w-[162px] sm:h-[162px] -mt-[32px] sm:-mt-[62px] -mb-[12px] sm:-mr-[12px]"
        />
      </div>
    </div>
  </div>

  <div
    class="max-w-screen-lg mx-auto p-6 sm:p-8 leading-[135%] font-semibold text-[#AFAFAF] flex flex-col sm:flex-row gap-4 sm:gap-0 items-center justify-between"
  >
    <div>
      &copy; {today.getFullYear()} Vigi. Todos os direitos reservados.
    </div>

    <a href="/privacy-policy">Política de Privacidade</a>
    <a href="/terms-and-conditions">Termos e Condições</a>

    <div class="text-center">Feito com 💜 pela equipe Vigi</div>
  </div>
</section>

<style>
  .footer-bg {
    background-image: url("/footer-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
</style>
