---
---

<div class="flex items-start gap-4">
  <div
    class="w-[26px] h-[26px] list-item-bg rounded-lg flex items-center justify-center flex-shrink-0"
  >
    <svg
      width="14"
      height="10"
      viewBox="0 0 16 12"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1 6L5.66667 11L15 1"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
  </div>
  <div class="text-base sm:text-lg leading-[145%] text-white/70">
    <slot />
  </div>
</div>
